body {
  color: white;
  text-align: center;
  background: black
}

h3{
  text-decoration: underline overline
}

h4{
  text-decoration: underline
}

a{
  color: whitesmoke
}

span{
  border: 5px solid paleturquoise
}

 h,p,a{
    font-family:"Verdana"
       }

table,th,td {
             text-align:center;
              padding:5px;
		          border:1px solid black
       }
        
  table.center{
    margin-left:auto; 
    margin-right:auto;
       }
  #t01 {
	  background-color:turquoise
      }
      
.alice {
  background-color: powderblue;
  color: white;
  border: 5px solid crimson;
  margin: 40px;
  padding: 40px;
}
.mac{
  background-color: turquoise;
  color: white;
  border: 5px solid paleturquoise;
  margin: 40px;
  padding: 40px;
 }
 .miss {
  background-color:crimson;
  color: white;
  border: 5px solid white;
  margin: 40px;
  padding: 40px;